body {
  background-color: #00BFFF;
  color: #FFFFFF;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  -ms-transition: 250ms linear;
  transition: 250ms linear;
}

.upwork-bg {
  background-color: #5BBC2E;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  -ms-transition: 250ms linear;
  transition: 250ms linear;
}

.github-bg {
  background-color: #24292E;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  -ms-transition: 250ms linear;
  transition: 250ms linear;
}

.linkedin-bg {
  background-color: #0084BF;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  -ms-transition: 250ms linear;
  transition: 250ms linear;
}

.content-container {
  width: 600px;
  height: 250px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -125px;
  text-align: center;
}

.first {
  -webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.5s;
  -moz-animation-duration: 2s;
	-moz-animation-delay: 0.5s;
  -o-animation-duration: 2s;
	-o-animation-delay: 0.5s;
  -ms-animation-duration: 2s;
	-ms-animation-delay: 0.5s;
  animation-duration: 2s;
	animation-delay: 0.5s;
}

.second {
  -webkit-animation-duration: 2s;
	-webkit-animation-delay: 2.5s;
  -moz-animation-duration: 2s;
	-moz-animation-delay: 2.5s;
  -o-animation-duration: 2s;
	-o-animation-delay: 2.5s;
  -ms-animation-duration: 2s;
	-ms-animation-delay: 2.5s;
  animation-duration: 2s;
	animation-delay: 2.5s;
}

.third {
  -webkit-animation-duration: 2s;
	-webkit-animation-delay: 4.5s;
  -moz-animation-duration: 2s;
	-moz-animation-delay: 4.5s;
  -o-animation-duration: 2s;
	-o-animation-delay: 4.5s;
  -ms-animation-duration: 2s;
	-ms-animation-delay: 4.5s;
  animation-duration: 2s;
	animation-delay: 4.5s;
}

.links-container {
  -webkit-animation-duration: 2s;
	-webkit-animation-delay: 6.5s;
  -moz-animation-duration: 2s;
	-moz-animation-delay: 6.5s;
  -o-animation-duration: 2s;
	-o-animation-delay: 6.5s;
  -ms-animation-duration: 2s;
	-ms-animation-delay: 6.5s;
  animation-duration: 2s;
	animation-delay: 6.5s;
}

a {
  color: #FFFFFF;
}

.link-container {
  display: inline-block;
  padding: 30px;
}
