body {
  background-color: #00BFFF;
  color: #FFFFFF;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.upwork-bg {
  background-color: #5BBC2E;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.github-bg {
  background-color: #24292E;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.linkedin-bg {
  background-color: #0084BF;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.content-container {
  width: 600px;
  height: 250px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -125px;
  text-align: center;
}

a {
  color: #FFFFFF;
}

.link-container {
  display: inline-block;
  padding: 30px;
}
